{
    "video_info": [
        "video_id",
        "channel_title",
        "title",
        "description",
        "tags",
        "published_at",
        "view_count",
        "like_count",
        "favorite_count",
        "comment_count",
        "duration",
        "definition",
        "caption"
    ]
}
